<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Update</title>
</head>
<body>
   <form th:method="POST" th:action="@{|/posts/${id}/update|}" th:object="${post}">
      <label for="title">Title</label>
      <input type="text" th:field="*{title}" id="title" th:value="${post.body}">
      <input type="text" th:field="*{body}" id="body" th:value="${post.title}">
      <button type="submit">SUBMIT UPDATE</button>
   </form>
</body>
</html>