<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Login Page</title>
</head>
<body>
   <h1>Pleash logins</h1>
<form method="POST" action="/login">
   <label for="username">username</label>
   <input name="username" id="username" type="text">
   <label for="password">password</label>
   <input name="password" id="password" type="password">
   <button type="submit">SUBMIT</button>
</form>
<h1>Welcome, <span th:text="${username}">User</span></h1>
</body>
</html>