<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Roll</title>
</head>
<body>
<form method="POST" action="/roll-dice">
   <button type="submit" value="1" name="guess">1</button>
</form>
<form method="POST" action="/roll-dice">
   <button type="submit" value="2" name="guess">2</button>
</form>
<form method="POST" action="/roll-dice">
   <button type="submit" value="3" name="guess">3</button>
</form>
<form method="POST" action="/roll-dice">
   <button type="submit" value="4" name="guess">4</button>
</form>
<form method="POST" action="/roll-dice">
   <button type="submit" value="5" name="guess">5</button>
</form>
<form method="POST" action="/roll-dice">
   <button type="submit" value="6" name="guess">6</button>
</form>

</body>
</html>